<html>
    <head>
        <title>Soundy</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item">
                   <i class="sound icon" id="soundicon"></i>
                     Soundy
                </div>
                <a href = "/" class="item">Home</a>
                <a href = "/songs/new" class="item">Post a Song</a>
            </div>
        </div>
